<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Companies</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .approval-icon {
            width: 20px;
            height: 20px;
        }

        html,
        body {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
        }

        .content {
            flex: 1;
        }
    </style>
</head>

<body>
    <!-- TOP Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <img style="margin: 0px; width: 270px !important; margin: 5px !important; margin-left: 0px !important;"
                    src="/public/image/logo.png" alt="logo" class="logo-default">
            </div>
            <div class="d-flex align-items-center">
                <div class="dropdown">
                    <img src="/public/image/user.png" style="scale: 2.5; margin-right: 15px;" class="rounded-circle"
                        height="25" alt="Black and White Portrait of a Man" loading="lazy" />
                </div>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #b5e0ff;">
        <a class="navbar-brand" href="home.html" style="padding-left: 50px;">Home Page</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
            aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="internship_processes.html">Internship Processes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="companies.html">Companies</a>
                </li>
            </ul>
        </div>

        <ul class="navbar-nav d-flex flex-row me-1" style="padding-right: 50px;">
            <li class="nav-item" style="padding-left: 20px;">
                <a class="nav-link" href="/view/login.html">Log Out</a>
            </li>
        </ul>
    </nav>

    <div class="container mt-4 content">
        <h2 class="text-center mb-4">COMPANIES</h2>
        <div class="container mt-6">
            <table class="table table-bordered" id="internship-table">
                <thead class="thead-light">
                    <tr>
                        <th>Student Name</th>
                        <th>Student Department</th>
                        <th>Company Name</th>
                        <th>Company Department</th>
                        <th>Scoring</th>
                        <th>Notes</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <footer class="bg-body-tertiary text-center text-lg-start">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
            2024 © FMV Işık University - Sule İlkbahar & Nilhan Topçu
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="/Fetch API/internship_coordinator/companies.js"></script>
</body>

</html>