<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internship Processes</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css"
        rel="stylesheet">
    <style>
        .approval-icon {
            width: 20px;
            height: 20px;
        }

        .accepted-icon {
            color: green;
            margin-right: 5px;
        }

        .rejected-icon {
            color: red;
            margin-right: 5px;
        }

        html,
        body {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
        }

        .content {
            flex: 1;
        }

        .bg-body-tertiary {
            background-color: #f8f9fa !important;
        }

        .btn-view-forms {
            padding: 0.25rem 0.5rem;
            font-size: 0.875rem;
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
        }
    </style>
</head>

<body>
    <!-- TOP Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <img style="margin: 0px; width: 270px !important; margin: 5px !important; margin-left: 0px !important;"
                    src="/public/image/logo.png" alt="logo" class="logo-default">
            </div>
            <div class="d-flex align-items-center">
                <div class="dropdown">
                    <img src="/public/image/user.png" style="scale: 2.5; margin-right: 15px;" class="rounded-circle"
                        height="25" alt="Black and White Portrait of a Man" loading="lazy" />
                </div>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #b5e0ff;">
        <a class="navbar-brand" href="home.html" style="padding-left: 50px;">Home Page</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
            aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="internship_processes.html">Internship Processes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="companies.html">Companies</a>
                </li>
            </ul>
        </div>
        <ul class="navbar-nav d-flex flex-row me-1" style="padding-right: 50px;">
            <li class="nav-item me-3 me-lg-0">
                <div class="dropdown">
                    <button type="button" class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-bell" viewBox="0 0 16 16">
                            <path
                                d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2M8 1.918l-.797.161A4 4 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4 4 0 0 0-3.203-3.92zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5 5 0 0 1 13 6c0 .88.32 4.2 1.22 6">
                            </path>
                        </svg>
                    </button>
                </div>
            </li>
            <li class="nav-item" style="padding-left: 20px;">
                <a class="nav-link" href="/view/login.html">Log Out</a>
            </li>
        </ul>
    </nav>

    <div class="content">
        <div class="container mt-4">
            <h2 class="text-center mb-4">INTERNSHIP PROCESSES</h2>
        </div>
        <div class="container mb-4">
            <div class="row">
                <div class="col text-center">
                    <button class="btn btn-outline-primary btn-block"
                        onclick="filterInternships('WAITING_FOR_INSURANCE_ENTRY')">Waiting for Insurance Entry</button>
                </div>
                <div class="col text-center">
                    <button class="btn btn-outline-primary btn-block"
                        onclick="filterInternships('INSURANCE_UPLOADED')">Insurance Uploaded</button>
                </div>
                <div class="col text-center">
                    <button class="btn btn-outline-primary btn-block"
                        onclick="filterInternships('COMPLETED')">Internship Completed</button>
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>Student's Name</th>
                        <th>Academic Unit Approval</th>
                        <th>Faculty Administrator Approval</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Internship Forms</th>
                        <th>Insurance Entry Document</th>
                    </tr>
                </thead>
                <tbody id="internshipTableBodyForCoordinator">
                    <!-- Dynamic content will be appended here -->
                </tbody>
            </table>
        </div>
    </div>

    <footer class="bg-body-tertiary text-center text-lg-start">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
            2024 © FMV Işık University - Sule İlkbahar & Nilhan Topçu
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="/Fetch API/internship_coordinator/internship_processes.js"></script>

</body>

</html>
